@use "../base/vars.scss";
.about-us {
}
.container {
}
.about-us__content {
}
.about-us-avatar {
    width: 518px;
    height: 622px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 400px;
        height: 497px;
        background-color: vars.$black50;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 60%;
        left: 50%;
        width: 100%;
        height: 50%;
        background: -o-linear-gradient(
            351.46deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        background: linear-gradient(
            98.54deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        -webkit-filter: blur(105px);
        filter: blur(105px);
        border-radius: 88% 12% 88% 12% / 20% 37% 63% 80%;
        -webkit-transform: translate(-50%, -50%) rotate(-30deg);
        -ms-transform: translate(-50%, -50%) rotate(-30deg);
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}
.about-us-avatar__img {
    position: absolute;
    left: 24px;
    bottom: 0;
    z-index: 2;
}

.video--about-us {
    position: absolute;
    bottom: -5%;
    right: 0;
    z-index: 3;
}
