@use "../base/vars.scss";
.hero {
    max-width: 540px;

    .main-title {
        margin-bottom: 14px;

        @media (max-width: 710px) {
            font-size: 48px;
        }
        @media (max-width: 500px) {
            font-size: 32px;
        }
    }

    .main-text {
        max-width: 446px;
        margin-bottom: 30px;
    }
}

.invite {
    padding-top: 42px;
    display: flex;
    align-items: center;
    gap: 75px;

    @media (max-width: 1050px) {
        flex-direction: column;
        align-items: flex-start;
    }
    @media (max-width: 710px) {
        gap: 145px;
    }
}
.reviews {
    display: flex;
    align-items: center;
}
.reviews__list {
    display: flex;
}
.reviews__item {
    background-size: cover;
    width: 50.45px;
    height: 50.45px;
    border-radius: 50%;
    border: 2px solid vars.$black100;

    &--first {
        background-image: url(../img/firstguy.jpg);
    }

    &--second {
        background-image: url(../img/secondguy.jpg);
        transform: translateX(-12px);
    }

    &--third {
        background-image: url(../img/thirdguy.jpg);
        transform: translateX(-24px);
    }
}

.reviews__text {
    color: vars.$grey1;
    font-weight: 300;
}

.reviews__amount {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: vars.$white;
    margin-right: 5px;
    &::before {
        content: "";
        display: block;
        width: 48px;
        height: 8px;
        background-image: url(../img/icons/gradient-line.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -7px;
        bottom: -3px;
    }
}
