@use "../base/vars.scss" as *;
.testimonial {
    max-width: 1247px;
    height: 1247px;
    margin-top: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.container {
    height: 100%;
}
.testimonial__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    min-width: 800px;
    padding-top: 111px;
    background-image: url("../img/testimonial__line.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 60%;
        left: 50%;
        width: 642px;
        height: 347px;
        background: -o-linear-gradient(
            351.46deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        background: linear-gradient(
            98.54deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        -webkit-filter: blur(105px);
        filter: blur(105px);
        border-radius: 88% 12% 88% 12% / 20% 37% 63% 80%;
        -webkit-transform: translate(-50%, -50%) rotate(-30deg);
        -ms-transform: translate(-50%, -50%) rotate(-30deg);
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}
.testimonial__header {
    text-align: center;
}
.context-title {
}
.context-subtitle {
}

.testimonial__avatar {
    background-image: url("../img/testimonial__avatar.png");
    width: 663px;
    height: 483px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45.5%, -59%);
}

.testimonial-btn {
    position: relative;
    background-image: url("../img/icons/gradient-mono.svg");
    width: 78px;
    height: 78px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: rgb(37, 37, 50, 60%);
    border-radius: 50%;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../img/icons/color-gradientlinear.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0;
        transition: 0.5s;
    }

    &::after {
        content: "";
        opacity: 0;
        transition: 0.5s;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 60%;
        background: -o-linear-gradient(
            351.46deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        background: linear-gradient(
            98.54deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        -webkit-filter: blur(105px);
        filter: blur(6px);
        border-radius: 88% 12% 88% 12% / 20% 37% 63% 80%;
        -webkit-transform: translate(-50%, -50%) rotate(-30deg);
        -ms-transform: translate(-50%, -50%) rotate(-30deg);
        transform: translate(-50%, -50%) rotate(-30deg);
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    &__img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: solid 1px black;
    }
}

.testimonial-btn__wrapper {
    display: block;
    position: absolute;
    top: 50%;
    right: -300px;
    height: 0;
    width: 297px;
    transform: translateY(-50%);
    transition: 0.5s;
    overflow: hidden;
}
.testimonial-btn__desc {
    display: block;
    background-image: url("../img/rectangle.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 18px;
    height: 100%;
    text-align: left;
}
.testimonial-btn__text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $grey2;
    text-align: left;
}
.testimonial-btn__name {
    // display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    color: $grey2;
    border-bottom: 1px solid;
    -o-border-image: linear-gradient(90deg, #0cbaf1, #fe69fe);
    border-image: linear-gradient(90deg, #0cbaf1, #fe69fe);
    border-image-slice: 1;
}

.testimonial-btn.active {
    &::before,
    &::after {
        opacity: 1;
    }
    .testimonial-btn__wrapper--first {
        height: 127px;
    }
}
