@use "../base/vars.scss";

.why-us {
    padding: 150px 0;
    overflow: hidden;
}

.why-us__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1200px) {
        flex-direction: column-reverse;
        gap: 76px;
    }
}

.why-us__info {
    max-width: 550px;
}

.why-us__header {
}

.why-us__titles {
}

.context-title {
    margin-bottom: 12px;
}

.context-subtitle {
    margin-bottom: 32px;
}

.accordion-reasons {
}

.accordion-reasons__item {
    cursor: pointer;
    position: relative;
    &:not(:last-child) {
        margin-bottom: 12px;
    }
    &.active {
        .accordion-reasons__title:after {
            transform: translateY(-50%) rotateX(180deg);
        }
        .accordion-reasons__wrapper-hidden {
            height: 0;
        }
    }
}

.accordion-reasons__card {
}

.accordion-reasons__title {
    font-weight: 500;
    font-size: 20px;
    color: vars.$white;
    border-bottom: 1px solid vars.$grey1;
    padding-bottom: 12px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        height: 24px;
        width: 24px;
        background-image: url("../img/icons/strelka.svg");
        transition: 0.6s;
    }

    @media (max-width: 500px) {
        font-size: 18px;
    }
}

.accordion-reasons__wrapper-hidden {
    overflow: hidden;
    height: 120px;
    transition: 0.6s;
}

.accordion-reasons__text {
    font-weight: 400;
    font-size: 16px;
    color: vars.$grey2;
    padding-top: 12px;
    padding-bottom: 48px;
}
.why-us__avatar {
    width: 563px;
    height: 662px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 50px;
        bottom: 0;
        display: block;
        width: 400px;
        height: 497px;
        background-color: vars.$black50;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 60%;
        left: 50%;
        width: 100%;
        height: 50%;
        background: -o-linear-gradient(
            351.46deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        background: linear-gradient(
            98.54deg,
            rgba(28, 196, 249, 0.8) 0.72%,
            rgba(254, 105, 254, 0.8) 90.69%
        );
        -webkit-filter: blur(105px);
        filter: blur(105px);
        border-radius: 88% 12% 88% 12% / 20% 37% 63% 80%;
        -webkit-transform: translate(-50%, -50%) rotate(-30deg);
        -ms-transform: translate(-50%, -50%) rotate(-30deg);
        transform: translate(-50%, -50%) rotate(-30deg);
    }

    @media (max-width: 768px) {
        width: 419px;
        height: 492px;

        &::before {
            width: 296px;
            height: 369px;
        }
    }

    @media (max-width: 500px) {
        width: 335px;
        height: 395px;

        &::before {
            width: 266px;
            height: 339px;
        }
    }
}
.why-us__img {
    width: 100%;
    object-fit: cover;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.video--why-us {
    position: absolute;
    bottom: -6%;
    right: 15%;
    z-index: 3;

    @media (max-width: 768px) {
        width: 147px;
        height: 96px;
    }

    @media (max-width: 500px) {
        right: 0;
        bottom: -12%;
    }
}
.video__preview {
}
