@use "./vars.scss";

.gradient-border-transparent-link {
    position: relative;
    padding: 13px 22px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, #0cbaf1, #fe69fe);
    border-image-slice: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: vars.$linear;
        opacity: 0;
        transition: 0.4s;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
    @media (max-width: 478px) {
        &--desktop {
            display: none;
        }
    }
}
.gradient-border-transparent-link__text {
    position: relative;
    color: vars.$grey2;
}

.main-title {
    font-weight: 600;
    font-size: 64px;
    color: vars.$white;
    line-height: 1.3;
}

.main-text {
    font-weight: 300;
    font-size: 16px;
    color: vars.$grey2;
    line-height: 1.75;
}

.context-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    display: inline-block;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#0cbaf1),
        to(#e95ce9)
    );
    background: -o-linear-gradient(left, #0cbaf1 0, #e95ce9 100%);
    background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.context-subtitle {
    font-weight: 600;
    font-size: 48px;
    color: vars.$white;
}

.see-more-link {
    position: relative;
    display: inline-block;
    padding: 18px 38px;
    font-weight: 700;
    font-size: 14px;
    color: vars.$white;
    background: vars.$linear;
    cursor: pointer;
    letter-spacing: 1.5px;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        filter: blur(20px);
        background: vars.$linear;
        z-index: -1;
        opacity: 0;
        transition: 0.6s;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}
