@use "./vars.scss";

.header {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 31px 0;
    }
}

.logo {
    &__pic {
    }
}

.menu {
    &__item {
        position: relative;
    }

    &__list {
        display: flex;
        gap: 64px;
    }
}

.anchor-link {
    color: vars.$grey2;
    font-size: 16px;
    font-weight: 500;
    font-family: "Chakra Petch", sans-serif;
    &--submenu {
    }
}

.sublist {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: vars.$black50;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, #636366 0%, #18181b 100%);
    border-image-slice: 1;
    &__item {
    }
}

.sublist-container {
    overflow: hidden;
    position: absolute;
    bottom: -160px;
    left: 0;
}
